* {
    text-align:center;
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Indie Flower', cursive;
    letter-spacing: -0.5px;
    font-size:1rem;
    transition: 1s all ease;
}
body{
    background-image:url("images/gocery-store.jpg");
    background-size:cover;
}
main{
    margin-top:5px;
}

ul{
    list-style: none;
}

h1{
    font-family: 'Hachi Maru Pop', cursive;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    color: white;
}

h2{
    color:white;
    background-color:rgba(144, 238, 144, 0.5);
    border-style: outset;
    border-color: rgba(144, 238, 144, 0.5);
    border-width:5px;
    text-shadow: 1px 1px black;
}

h3{
    color: white;
    text-shadow: 1px 1px black;
}

label{
    color: white;
}

li{
    font-family: 'Montserrat', sans-serif;
}
form input{
    text-align: left;
    padding: 5px;
}
br{
    height: 10%;
}
footer{
    background-color:rgba(0, 0, 139, 0.5);
    color: lightgreen;
    margin-top:10px;
}
/* ALTERING BOOTSTRAP CLASSES */

header .col{
    display: flex;
    justify-content: space-around;
}
.heading{
    padding: 1%;
}

.container-fluid{
    margin: 0;
    padding:0;
}

.kitchen{
    background-color:crimson;
    padding: 3% 5%;
    display:none;
}

.store{
    padding: 3% 5%;
    background-color:rgba(144, 238, 144, 0.5);
    border-style: outset;
    border-color: rgba(144, 238, 144, 0.5);
    border-width:5px;
    margin:0;
    padding: 0;
}

.list-item-container{
    font-size: 1rem;
    font-weight:bold;
    display: flex;
    justify-content: flex-end;
    transition: 0.5s ease all;
    width: auto;
    height:auto;
}
a{
    color: lightcyan;
}
.list-item-checked{
    text-decoration: line-through;
    opacity: 0.5;
}
.delete-button, .check-button{
    height: 23px;
    width: 23px;
    padding: 3px;
    margin: 3px;
    background-color: grey;
    border-radius: 50%;
}

.check-button{
    margin-left: 10px;
}

.delete-button:hover, .check-button:hover{
    cursor: pointer;
    background-color: wheat;
    box-shadow: 2px 2px 2px grey;
}

.deleted-item{
    transform: translateY(-900px);
    opacity: 0.3;
    z-index: 3;
}
.button{
    padding:5px;
    margin: 5px;
    font-weight: bold;
}

.shopping-category-list{
    height: 330px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    /* background-color:teal; */
}


/* IDS */

#shopping-list-button-input{
    width:100px;
}

#shopping-list-buttons{
    display: flex;
    flex-wrap: wrap;
    text-align:left;
}

#primarySubmit{
    padding:2%;
    margin: 2%;
}

#shopping-list-container li{
    background-color:rgba(144, 238, 144, 0.5);
    text-shadow: 0.5px 0.5px black;
    padding: 2.5px;
    color:orangered;
}